<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the commonly used libraries used by Data Scientists include:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. Matplotlib

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This is a simple arithmetic expression to multiply then add integers
result = (3 * 4) + 5
print(result)  # Expected output: 17

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60
hours = 200 / 60
print(hours)  # Expected output: 3.3333

3.3333333333333335

**Objectives:**

- List popular languages for Data Science
- Identify commonly used libraries in Data Science
- Demonstrate data wrangling techniques
- Show how to load datasets in Google Colab
- Provide examples of arithmetic expressions in Python

## Author
Ankush Singh